{% extends 'base.html' %}
{% load image_format i18n youtube_embed %}

{% block content %}
    <!--Body content-->
    <div class="full-width-wrapper">
    	<div class="fixed-width-wrapper" id="body-content">
        	<!--Content-->
        	<div id="content" class="float-left content-left">
            	<div class="header-text">
                	<ul id="breadcrumbs">
                    	<li><a href="{% url home %}" title="">Página Inicial</a></li>
                        <li {% if not categoria %}class="current"{% endif %}><a href="{% url artigos %}" title="">Notícias</a></li>
                        {% if categoria %}<li class="current"><a href="#" title="{{ categoria.nome }}">{{ categoria.nome }}</a></li>{% endif %}
                    </ul>
                    
                    <h1 class="first-word double-color sp"><strong>Notícias</strong></h1>


                </div>
                
                <div class="entry-content">
                    <ul class="list-blog-entry" id="list-blog-entry">
                    	{% for p in posts %}
                        <li>
                        	<a href="{% url ler p.slug %}" class="preloading-light img-border" title=""><img src="{{ p.imagem|crop:'638x246' }}" alt=""></a>
                           	<div class="blog-entry-content">
                                <h2><a href="{% url ler p.slug %}" class="first-word">{{ p.titulo }}</a></h2>
                                <div class="posts-info"><span class="date" title="data de publicação">{{ p.data_pub|date:'M d, Y' }}</span><span class="user"><a href="">{{ p.usuario }}</a></span><span class="category"><a href="{% url listar p.categoria.slug %}">{{ p.categoria }}</a></span></div>
                                <p>{{ p.intro }}</p>
                                <a class="read-more" href="{% url ler p.slug %}" title="Ler Mais">Ler Mais</a>
                            </div>
                        </li>
                        {% empty %}
                        <li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/website.jpg" alt=""></a>
                           	<div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Stylish Light Effect in Photoshop</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                    	<li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/identity.jpg" alt=""></a>
                           	<div class="blog-entry-content">
                                <h2><a href="#" class="first-word">70+ Fantastic Firework Photos (How to Shoot Them ?) </a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                        <li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/identity.jpg" alt=""></a>
                           	<div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Stylish Light Effect in Photoshop</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                        <li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/identity.jpg" alt=""></a>
                           <div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Super Cool abstract vectors Illustrator</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li><li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/identity.jpg" alt=""></a>
                           	<div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Create a Spectacular Grass Text in PTS</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                        
                        <li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/website.jpg" alt=""></a>
                           <div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Super Cool abstract vectors Illustrator</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                        
                        <li>
                        	<a href="#" class="preloading-light img-border" title=""><img src="{{STATIC_URL}}images/pix/motion-graphic.jpg" alt=""></a>
                           <div class="blog-entry-content">
                                <h2><a href="#" class="first-word">Super Cool abstract vectors Illustrator</a></h2>
                                <div class="posts-info"><span class="date" title="">SEP 30, 2011</span><span class="user"><a href="#">MaxxD</a></span><span class="category"><a href="#">in Tutorial</a></span></div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                <a class="read-more" href="#" title="Read more">Read more</a>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>

                    {% if posts.has_other_pages %}
                    <!--Pagination-->
                    <div class="clear"></div>
                    <div class="page-pagination clear">
                        {% if posts.has_previous and posts.number > 3 %}
                    	<a href="{% if categoria %}{% url listar categoria.slug %}{% else %}{% url artigos %}{% endif %}" title="Ir para a primeira página">Primeira</a>
                        {% endif %}

                        {% for p in posts.paginator.page_range %}

                            {% if posts.number < 3 %}

                                {% if  posts.number|add:"-4" <= p and p <= posts.number|add:"4" %}
                                    <a {% if p == posts.number %} class="current" {% endif %} href="{% if categoria %}{% url listar categoria.slug%}/{{ p }}{% else %}{% url artigos p%}{% endif %}">{{p}}</a>
                                {% endif %}

                            {% else %}

                                {% if  posts.number|add:"-2" <= p and p <= posts.number|add:"2" %}
                                    <a {% if p == posts.number %} class="current" {% endif %} href="{% if categoria %}{% url listar categoria.slug%}/{{ p }}{% else %}{% url artigos p%}{% endif %}">{{p}}</a>
                                {% endif %}

                            {% endif %}

                        {% endfor %}

                        <span>...</span>
                        {% if posts.has_next and posts.paginator.num_pages|add:'-2' > posts.number%}
                            <a href="{% if categoria %}{% url listar categoria.slug%}/{{ posts.paginator.num_pages }}{% else %}{% url artigos posts.paginator.num_pages%}{% endif %}">Ultima</a>
                        {% endif %}
                    </div>
                    <!--/Pagination-->
                    {% endif %}
              </div>
              
              
            </div>
            <!--/Content-->
            
            <!--Sidebar-->
            <div id="sidebar" class="float-right">
            	            
                {% include 'blog_categories.html'  %}
                
                {% include 'blog_last_posts.html'  %}

                {% include 'blog_archive.html' %}

            </div>
            <!--/Sidebar-->

            {% include 'get_in_touch.html' %}

            
            
            
        </div>
    </div>
    <!--/Body content-->
{% endblock %}