<!--Get in touch-->
<div id="get-in-touch" class="fixed-width-wrapper">
    <div class="via-phone-number float-left">
        <a class="icon sprite float-left" title="Keep in touch with us">Entre em contato com a gente</a>
        <h2>Nós podemos te ajudar. Ligue <strong>45 3264 4426</strong></h2>
        <span>Envie um email ou entre em contato através de nossos telefones</span>
    </div>
    <div class="via-email float-right">
        <form action="" method="post">
            <div><p style="margin-bottom: 3px;">Mantenha-se informado através de nossa NewsLetter.</p></div>
            <div><input class="input-field border-radius-3px reset-text float-left" value="Informe seu endereço de email..."></div>
            <div><button type="submit" class="black border-radius-3px float-right"><em class="sprite"></em>Assinar !</button></div>
        </form>
    </div>
</div>
<!--/Get in touch-->