
<!--box-->
<div class="box">
    <h1 class="first-word double-color sp">Categorias</h1>

    <ul class="list cat">
        {% for c in categorias_produtos %}
            {% if c.categoria_superior == None and c.produtos.count > 0%}
            <li {% if categoria.slug == c.slug %}class="current"{% endif %}><a href="{% url listar_produtos c.slug %}" title="">{{ c.titulo }}</a>
                {% if categoria.slug == c.slug %}
                <ul>
                {% for sub in c.subcategorias.all %}
                    {% if sub.produtos.count > 0 %}
                    <li {% if subcategoria.slug == sub.slug %}class="current"{% endif %}><a href="{% url listar_produtos c.slug '/' sub.slug %}" title="">{{ sub.titulo }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
        {% empty %}
            <li><a href="#" title="">Todos os Produtos</a></li>
            <li><a href="#" title="">Produtos</a></li>
            <li><a href="#" title="">Venenos</a></li>
            <li class="current"><a href="#" title="">Produtos</a>
                <ul>
                    <li><a href="#" title="">Produtos</a></li>
                    <li><a href="#" title="">Venenos</a></li>
                    <li><a href="#" title="">Produtos</a></li>
                    <li><a href="#" title="">Venenos</a></li>
                </ul>
            </li>
            <li><a href="#" title="">Diluentes</a></li>
            <li><a href="#" title="">Armadilhas</a></li>

        {% endfor %}
    </ul>
</div>
<!--/box-->