{% extends 'base.html' %}
{% load image_format i18n math_expressions%}

{% block content %}
    <!--Body content-->
    <div class="full-width-wrapper">
    	<div class="fixed-width-wrapper" id="body-content">
        	<!--Content-->
        	<div id="content" class="float-left content-left">
            	<div class="header-text">
                	<ul id="breadcrumbs">
                    	<li><a href="{% url home %}" title="">Página Inicial</a></li>
                        <li class="current"><a href="#" title="">Serviços</a></li>
                    </ul>
                    
                    <h1 class="first-word double-color sp">Nossos Serviços</h1>
                    
                </div>
                
                <div class="post entry-content">
                    {% if texto_servico %}
                        <img src="{{ texto_servico.imagem|scale:'347x163' }}" alt="" class="align-left" >

                        <p>{{ texto_servico.texto|safe }}</p>
                    {% else %}
                	<img src="{{ STATIC_URL }}images/pix/mock.png" alt="" class="align-left" >
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus lorem a metus aliquet non scelerisque dolor volutpat. Cras et quam quis libero semper tempus congue id lacus. Nulla et sagittis augue. </p>
                    <p>Nulla interdum mauris quis nunc tempus ac bibendum nunc volutpat. Integer gravida sapien non orci iaculis eget dictum nisl auctor. Duis vulputate hendrerit turpis in ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sed diam quam.</p>
                    {% endif %}
              	</div>
                
                <!--services-->
                <div class="two-column float-left content-left services">
                    {% for s in servicos %}

                        <!--block-->
                        <div class="block{% if forloop.counter|mod:2 == 0 %} last-child-of-line{% endif %}{% if forloop.last %} last-child{% endif %}">
                            <div class="service-heading">
                                <img src="{{ s.imagem.url }}" height="48px" alt="" >
                                <h3 class="first-word {% if s.titulo|length < 28 %}single-line{% endif %}" >{{  s.titulo }}</h3>

                            </div>

                            <div class="content">
                                <p class="justify">{{ s.intro }}</p>

                            </div>
                            <a class="read-more" href="{% url detalhar_servico s.slug%}" title="Read more">Leia mais</a>
                        </div>
                        <!--/block-->
                    {% empty %}
                    <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/pencil_48.png" alt="" >
                          <h3 class="first-word">Web Templates</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula puVestibulum sit amet neque eu neque suscipit consequat quis vel risus</p>
                           <p> Vestibulum vehicula purus nec dui accumsan fermentum. Suspendisse potenti. Ut dapibus est id odio pretium blandit in eget leo.</p>
                           
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    
                    
                    <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/statistics_48.png" alt="" >
                        <h3 class="first-word">Web Development </h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                           <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    
                     <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/briefcase_48.png" alt="" >
                        <h3 class="first-word">Corporate Identity </h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Quisque vel semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <strong>Sed nisi purus</strong>, pulvinar sit amet porttitor dictum, tempus sodales nisl. </p>
                           <p>Aliquam nunc libero, volutpat ut tincidunt ac, accumsan ut felis. Donec suscipit viverra mauris, eget sollicitudin </p>
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    
                    <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/print_48.png" alt="" >
                          <h3 class="first-word">Print & Media</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula purus nec dui accumsan fermentum. Suspendisse potenti. Ut dapibus est id odio pretium blandit in eget leo.</p>
                           <p>Mauris et nisi urna <strong>nonfaucibus magna</strong>. Integer lacus ante then ullamcorper ut vulputate..</p>
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    
                    
                    <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/star1_48.png" alt="" >
                          <h3 class="first-word">Motion Graphics</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                           <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    
                     <!--block-->
                    <div class="block">
                    	<div class="service-heading">
                        	<img src="images/icons/bug_48.png" alt="" >
                          <h3 class="first-word">Logo Design</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur....</span>
                        </div>
                        
                        <div class="content">
                           <p>Quisque vel semper nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <strong>Sed nisi purus</strong>, pulvinar sit amet porttitor dictum, tempus sodales nisl. </p>
                           <p>Aliquam nunc libero, volutpat ut tincidunt ac, accumsan ut felis. Donec suscipit viverra mauris, eget sollicitudin </p>
                        </div>
                        <a class="read-more" href="#" title="Read more">Read more</a>
                    </div>
                    <!--/block-->
                    {% endfor %}
                </div>
                <!--/services-->
                
                
            </div>
            <!--/Content-->

            <!--Sidebar-->
            <div id="sidebar" class="float-right">

                {% include 'portfolio_clientes.html'  %}

                {% include 'blog_last_posts.html'  %}

            </div>
            <!--/Sidebar-->

            {% include 'get_in_touch.html' %}
            
            
            
        </div>
    </div>
    <!--/Body content-->
{% endblock %}